# Ignore Terraform state files, backup files, crash logs, .terraform directory and plan output files
terraform/*.tfstate
terraform/*.tfstate.*

terraform/*.tfstate.backup
terraform/*.tfstate.backup.*

terraform/crash.log
terraform/.terraform/
terraform/*.tfplan
